<h1><%=@movie.title%></h1>
  <div>
    <img src="<%=@movie.image_url%>" alt="Movie Poster">
    <br>
    <h3>IMDB Rating:</h3> <p><%=@movie.rating%></p>
    <h3>Release Year:</h3> <p><%=@movie.release_year%></p>
    <h3>Genre:</h3> <p><%=@movie.genre%></p>
    <h3>Plot Summary:</h3> <p><%=@movie.plot%></p>
    <br>
    <br>
    <%if logged_in?%>
    <form method="POST" action="/add_movie/<%=@movie.id%>">
      <input type="submit" value="Add to my list">
    </form>
    <%end%>
</div>
