<h1><%=@user.user_name.capitalize%>'s Movie List:</h1>
<div class="row">
<%@user.movies.each do |movie|%>
    <div class="col-md">
      <img src="<%=movie.image_url%>" alt="Movie Poster" height="150" width="120">
      <br>
      <a href="/user_movies/<%=@user.id%>/<%=movie.id%>"><%=movie.title%></a>
    </div>
<%end%>
</div>
