<%if @updated%>
  <div class="alert alert-success" role="alert">
    Profile updated!
  </div>
<%end%>
<%if current_user==@user%>
<h2>Your Profile:</h2>
<div class="row">
  <div class="col-2">
    <a class="btn btn-primary" href="/movies">Add a Movie</a>
  </div>
  <div class="col-3">
  <a class="btn btn-success" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Share your profile!
  </a>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <b>Profile Link:</b> <a href="<%=request.url.split("?")[0]%>">Link</a>
      </div>
    </div>
  </div>
  <div class="col-2">
    <a class="btn btn-warning" href="/users/<%=current_user.id%>/edit">Edit Profile</a>
  </div>
</div>
<br>
<br>
<%end%>
<h2><%=@user.user_name.capitalize%>'s Movie List:</h2>
<div class="row">
<%@user.movies.each do |movie|%>
    <%user_movie=UserMovie.find_by(user_id: @user.id, movie_id: movie.id)%>
    <div class="col-4">
      <div class="card h-100 text-white bg-dark mb-3" style="width: 16rem;">
        <img src="<%=movie.image_url%>" class="card-img-top" alt="..."  height="256">
        <div class="card-body">
          <h5 class="card-title"><%=movie.title%></h5>
          <p class="card-text overflow-auto" id="style-1" style="height: 100px">
          <b>Seen it?</b> <img src="<%=user_movie.seen?%>">
          <br>
          <b><%=@user.user_name.capitalize%>'s Rating:</b> <%=user_movie.personal_rating%>
          <br>
          <b><%=@user.user_name.capitalize%>'s Comment:</b> <%=user_movie.comment%>
          </p>
          <a href="/user_movies/<%=@user.id%>/<%=movie.id%>" class="btn btn-primary">Movie Page</a>
        </div>
      </div>
    </div>
<%end%>
</div>
