<h1>Welcome to MyMovieList</h1>
<br>
<%if logged_in?%>
  <h3>Welcome <%=current_user.user_name.capitalize%></h3>
  <div id="navigation">
    <h4><a href="/movies">Look for a Movie</a><h4>
    <h4><a href="/users/<%=current_user.id%>/edit">Edit Profile</a><h4>
    <form method="POST" action="/logout">
      <input type="submit" value="Logout">
    </form>
  </div>

  <!-- Webpage within a webpage -->
  <!-- <div>
    <object type="text/html" data="/users/<%=current_user.id%>/edit" width="800px" height="600px">
    </object>
 </div> -->

  <h2>Your Movie List:</h2>
  <div class="row">
  <%current_user.movies.each do |movie|%>
      <%user_movie=UserMovie.find_by(user_id: current_user.id, movie_id: movie.id)%>
      <div class="col-md">
        <div class="card h-100 text-white bg-dark mb-3" style="width: 16rem;">
          <img src="<%=movie.image_url%>" class="card-img-top" alt="..."  height="256">
          <div class="card-body">
            <h5 class="card-title"><%=movie.title%></h5>
            <p class="card-text overflow-auto" id="style-1" style="height: 100px">
            Seen it? <%=user_movie.seen%>
            <br>
            Personal Rating: <%=user_movie.personal_rating%>
            <br>
            Personal Rating: <%=user_movie.comment%>
            </p>
            <a href="/user_movies/<%=current_user.id%>/<%=movie.id%>" class="btn btn-primary">Movie Page</a>
          </div>
        </div>
        <!-- <img src="<%=movie.image_url%>" alt="Movie Poster" height="150" width="120">
        <br>
        <a href="/user_movies/<%=current_user.id%>/<%=movie.id%>"><%=movie.title%></a> -->
      </div>
  <%end%>
  </div>
<%end%>
