<%if logged_in?%>
  <h2>Welcome Back <%=current_user.user_name.capitalize%>!</h2>
  <div class="row">
    <div class="col-2">
      <a class="btn btn-primary" href="/movies">Add a Movie</a>
    </div>
    <div class="col-3">
    <a class="btn btn-success" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Share your profile!
    </a>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <b>Profile Link:</b> <a href="<%=request.url%>users/<%=current_user[:id]%>">Link</a>
        </div>
      </div>
    </div>
    <div class="col-2">
      <a class="btn btn-warning" href="/users/<%=current_user.id%>/edit">Edit Profile</a>
    </div>
    <div class="col-2">
      <form method="POST" action="/logout">
        <input type="submit" class="btn btn-danger" value="Logout">
      </form>
    </div>
  </div>
  <br>
  <h2>Your Movie List:</h2>
  <div class="row">
  <%current_user.movies.each do |movie|%>
      <%user_movie=UserMovie.find_by(user_id: current_user.id, movie_id: movie.id)%>
      <div class="col-4">
        <div class="card h-100 text-white bg-dark mb-3" style="width: 16rem;">
          <img src="<%=movie.image_url%>" class="card-img-top" alt="..."  height="256">
          <div class="card-body">
            <h5 class="card-title"><%=movie.title%></h5>
            <p class="card-text overflow-auto" id="style-1" style="height: 100px">
            <b>Seen it?</b> <img src="<%=user_movie.seen?%>">
            <br>
            <b>Personal Rating:</b> <%=user_movie.personal_rating%>
            <br>
            <b>Personal Comment:</b> <%=user_movie.comment%>
            </p>
            <a href="/user_movies/<%=current_user.id%>/<%=movie.id%>" class="btn btn-primary">Movie Page</a>
          </div>
        </div>
      </div>
  <%end%>
  </div>
<%end%>
